.App {
  width: 100%;
}

.wrapper_main {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .wrapper_main {
    padding: 20px 10%;
  }
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  display: inline-block;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h2 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 5px;
}